doctype html
html
  head
    title URL Shortener
    // Google Font
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300")
    // Custom Styles
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
