body {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  color: #333;
}

.container {
	width: 99%;
	max-width: 900px;
	margin: 0 auto;
}

.example {
	color: #FF4357;
}
